* {
  	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
       	 -o-box-sizing: border-box;
            box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 10px;
}

body {
	font-family: "Poppins", Helvetica, Arial, sans-serif;
	background-color: #f5f5fb;
	color: #333;
	font-size: 1.6rem;
	width: 100vw;
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

.header {
    position: relative;
    background-color: #fff;
    padding: 20px 0;
    -webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
	   -moz-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
		 -o-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
			box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
}

.header .back {
    color: #727272;
}

.header .back .icon {
    font-size: 2.4rem;
}

.header .back .text {
    display: none;
}

.header .title {
    font-size: 2.4rem;
    margin: 5px 0;
}

.header .sub-title {
	color: #727272;
	font-size: 1.6rem;
	margin: 0;
}

main.container {
	min-height: calc(100vh - 285px);
}

.chapter-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 30px 0;
}

.chapter-list .chapter-item {
	width: 100%;
}

.chapter-list .chapter-link {
	display: flex;
	align-items: baseline;
	background-color: #fff;
	color: #333;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
	   -moz-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
		 -o-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
			box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
}

.chapter-list .chapter-link.disabled {
	opacity: .5;
	pointer-events: none;
}

.chapter-list .chapter-number {
	color: #727272;
	font-size: 1.4rem;
	margin-right: 20px;
}

.chapter-list .chapter-name {
	font-weight: 700;
}

.footer {
	background-color: #fff;
	color: #727272;
	font-size: 1.4rem;
	padding: 20px 0;
	margin-top: 20px;
	border-top: 1px solid #ddd;
	-webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
	   -moz-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
		 -o-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
			box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
}

@media only screen and (min-width: 768px) {

	.header .container {
		display: flex;
    	align-items: baseline;
	}

	.header .title {
		margin: 0 20px;
	}

	main.container {
		width: 700px;
		min-height: calc(100vh - 215px);
	}

	.chapter-list {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.chapter-list .chapter-item {
		width: calc(49% - 10px);
    	margin-right: 20px;
	}

	.chapter-list .chapter-item:nth-child(2n) {
		margin-right: 0;
	}

}

@media only screen and (min-width: 1024px) {

	main.container {
		width: 1000px;
	}

	.chapter-list .chapter-item {
		width: calc(33% - 20px);
    	margin-right: 30px;
	}

	.chapter-list .chapter-item:nth-child(2n) {
		margin-right: 30px;
	}

	.chapter-list .chapter-item:nth-child(3n) {
		margin-right: 0;
	}

	.chapter-list .chapter-link {
		transition: .2s ease-in-out;
	}

	.chapter-list .chapter-link:hover {
		-webkit-box-shadow: 0 2px 20px -5px rgba(0,0,0,.4);
		   -moz-box-shadow: 0 2px 20px -5px rgba(0,0,0,.4);
			 -o-box-shadow: 0 2px 20px -5px rgba(0,0,0,.4);
				box-shadow: 0 2px 20px -5px rgba(0,0,0,.4);
	}

	.chapter-list .chapter-link.disabled:hover {
		-webkit-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
		   -moz-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
			 -o-box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
				box-shadow: 0 2px 10px -5px rgba(0,0,0,.4);
	}

}